* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
 
}

nav {
  display: flex;
  width: 100%;
  padding: 1rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background-color: #006445;
  justify-content: space-between;
  position: fixed;
  top: 0; 
  left: 0;
  right: 0;
}

footer{
  padding: 2rem;
  background-color: #006445;
  color: white;
}

.footerPos{
  position: relative;
  left: 120rem;
}

/* .footerText{
  font-size: 1rem;
} */

header {
  padding-top: 10rem;
}

h1 {
  font-size: 4rem;
}

h2{
  font-size: 3.2rem;
}

h3{
  font-size: 2.2rem;
}

p{
  font-size: 1.8rem;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}

nav a {
  color: white;
  text-decoration: none;
}

nav img {
  width: 5vw;
}

.sidebar {
  height: 100vh; 
  width: 250px; 
  background-color: #B0BD36; 
  color: white; 
  position: fixed; 
  padding: 20px; 

}

.sidebar h2 {
  margin-top: 0; 
}

.sidebar ul {
  list-style-type: none; 
  padding: 0; 
}

.sidebar ul li {
  margin: 15px 0; 
  color: white; 
  font-size: 40px;
  
}

.sidebar ul li a {
  color: white; 
  text-decoration: none; 
}

.sidebar ul li a:hover {
  text-decoration: underline; 
}

.content {
  margin-left: 260px; 
  padding: 20px; 
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 20vw;
  z-index: 1;
  /* box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0,2); */
  z-index: 1;
}
  
.dropdown-content a{
  padding: 0.8rem 1rem;
  display: block;
  text-align: left;
  color: #000000;
}
  
.dropdown-content a:hover{
  background-color: #f1f1f1;
}
  
.dropdown:hover .dropbtn{
  color: #c5c5c5;
  background-color: #006445;
}
  
.dropdown:hover .dropdown-content{  
  display: block;
}

.gedicht{
  font-size: 1.8rem;
  font-weight: bold;
  align-self: flex-end;
} 

 .voorstel{
  font-size: 1.8rem;
  padding-top: 5rem;
  align-items: end;
  font-weight: bold;
}

.img_kobus{
  width: 20%; 
  height: auto;
  float: right;
 flex-wrap: wrap-reverse;
}

.img_yanik{
  width: 20rem;
  height: auto ;
}
.Receptie{
font-weight: bold;


}

.school_img{
background-image: url(/p1-ouderavond/img/school.jpg);
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
/* margin-top: 8rem; */
}
.auditoriumVideo{
  height: 400px;
  width: auto;
}
.auditorium{
  font-weight: bold;
}
.tabel{
  font-size: 7rem;
}
.sm{
  font-weight: bold;
}
.kluisje{
  font-weight: bold;
}
/* .box{
  padding-top: 7rem;
  width: 2rem; 
  height: 200px; 
  background-color:green; 
  border: 2px solid green; 
  padding: 10px; 
  position: absolute; 
} */
 .img-Gedragscode{
  width: 900px;
  height: auto;
  float: right;

 }
 .img-home{
  height: auto;
  width: 80px;
 }
 .search-container {
  display: flex; 
  float: right;
  margin-top: 20px; 
}

.search-input {
  padding: 10px; 
  width: 300px; 
  border: 1px solid #ccc; 
  border-radius: 4px;
}

.search-button {
  padding: 10px 15px; 
  margin-left: 10px;
  background-color: #007BFF;
  color: white; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
}

.search-button:hover {
  background-color: #0056b3;
}